@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul li a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}

.nav-bar ul li a:hover {
    color: red;
}

.search input {
    width: 577px;
    height: 48px;
    outline: none;
    border-radius: 62px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('./assets/images/Rectangle\ 2.png');
    height: 600px;
    padding-left: 50px;
}

.hero h2 {
    font-size: 64px;
    line-height: 55px;
}

.hero p {
    margin-top: 30px;
}

.hero .btn {
    margin-top: 30px;
    background-color: #000;
    height: 52px;
    width: 210px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
}

.hero .btn a {
    text-decoration: none;
    color: white;
}

.heading {
    text-align: center;
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.title p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.rating i {
    color: #FFC633;
    font-size: 10px;
}

.price p {
    font-size: 12px;
    font-weight: bold;
}

.view-btn {
    margin: 30px auto;
    border: 2px solid #e1dede;
    height: 52px;
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
}

.view-btn a {
    color: #000;
    text-decoration: none;
    text-align: center;
}

hr {
    margin-top: 30px;
}

.client-rating h1 {
    padding-left: 30px;
    margin-top: 30px;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.card {
    border: 2px solid #e1dede;
    border-radius: 20px;
    height: 240px;
    width: 400px;
    padding: 30px 20px;
}

.sub {
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    width: 1240px;
}

.sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    height: 180px;
}

.sub-btn input {
    width: 349px;
    height: 40px;
    border-radius: 62px;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 20px;

}

.sub-btn a {
    color: #fff;
    text-decoration: none;
    background-color: white;
    color: #000;
    width: 349px;
    height: 40px;
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.foot-bottom {
    background-color: #F0F0F0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}