@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "Poppins";
}

header {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: radial-gradient(#fff,#ffd6d6);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    display: inline-block;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    /* min-width: 300px; */
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 p{
    /* margin-top: 20px; */
}

.col-2 img {
    max-width: 80%;
    padding: 50px 0;
}
.col-2 .btn{
    display: inline;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    margin-top: 30px;
}